fieldset{
    padding:15px;
    border-radius: 15px;
    background-color: #eaeaea;
}

legend{
    text-shadow: 
    0px 0px 20px #bfbfbf,
    0px 0px 20px #bfbfbf,
    0px 0px 20px #bfbfbf,
    0px 0px 20px #bfbfbf,
    0px 0px 20px #bfbfbf,
    0px 0px 20px #bfbfbf,
    0px 0px 20px #bfbfbf,
    0px 0px 20px #bfbfbf,
    0px 0px 20px #bfbfbf ;   
}

label{
    display: inline-block;
    width: 100px;
    text-align: right;
}