html{
    background-color: #eeeeee;
}

.first{
    display:grid;
    grid-template-rows:40% auto 40%;
    grid-template-columns: 1fr 30% 1fr;
    height:96vh ;
}

p{
    grid-column-start: 2;
    grid-column-end: 3;
}

*{
    text-align:justify;
}

.imajor1{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    height:100px;
}

.imajor2{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    height:100px;
    justify-self: right;
}

.imajor3{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;

    height:100px;
    align-self: flex-end;
    
}

.imajor4{
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;

    height:100px;
    place-self: flex-end;
}